.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-menu li {
  margin: 0px 20px;
}
.navigation-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.active {
  color: rgb(10, 76, 16) !important;
  font-weight: bold !important;
}
/* mobile view */
.mobile-navigation {
  list-style: none;
}
.mobile-navigation li {
  margin-top: 20px;
}
.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

/*home page css*/

.home {
  background-image: url("./images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin-top: -8px;
}

.mid {
  background: rgba(232, 223, 223, 0.1) url("./images/bglogo.webp") no-repeat
    center;
  background-size: 300px 340px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 400px;
  width: 800px;
  opacity: 0.7;
  border: "10px solid white";
  border-radius: 7px;
}
.mid h2 {
  font-size: 55px;
  font-weight: 400;
  font-family: sans-serif;
  margin: 25px;
}
.mid h6 {
  margin: 20px;
}
.mid p {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: -15px;
}
.btn {
  background-color: #1b5e20;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  opacity: 20;
  color: white;
  border-radius: 2px solid rgb(16, 43, 16);
  border-radius: 5px;
  cursor: pointer;
}

.about,
.ret,
.gall,
.ctn,
.blog,
.act,
.acc {
  text-align: center;
  margin-top: 300px;
  font-size: 80px;
}

/*responsiveness*/

@media (max-width: 576px) {
  .mid {
    width: 320px;
  }
  .mid h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
  }

  .mid h6 {
    text-align: center;
    font-size: 15px;
  }

  .mobile-navigation li a {
    font-size: 18px;
    text-align: center;
  }

  .about,
  .ret,
  .gall,
  .ctn,
  .blog,
  .act,
  .acc {
    text-align: center;
    margin-top: 300px;
    font-size: 40px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .mid {
    width: 480px;
  }

  .navigation-menu li a {
    font-size: 5px;
    text-align: center;
    font-weight: 600;
  }

  .nav img {
    margin-left: 2px;
    height: 40px;
    width: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mid {
    width: 620px;
  }

  .navigation-menu li a {
    font-size: 8px;
    text-align: center;
    font-weight: 600;
  }

  .nav img {
    margin-left: 20px;
    height: 20px;
    width: 60px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-menu li a {
    font-size: 10px;
    text-align: center;
    font-weight: 600;
  }
}
@media (min-width: 1200px) and (max-width: 2148px) {

  
  .navigation-menu li a {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
  }
  .nav img {
    height: 50px;
    width: 100px;
  }
  .mid{
    width: 1000px;
    height: 500px;
  }
}
